.wrapper {
    width: 100%;
    height: 30vh;
    .container {
        height: 70%;
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1.5px solid rgba(grey, .25);
        img {
            height: 70%;
        }
        nav {
            width: 70%;
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                font-weight: 700;
            }
        }
    }
    .bottom {
        width: 60%;
        height: 30%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}